name: Our Workflow
on: push
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - run: ls -al
      - uses: actions/checkout@v6 
      - run: ls -al
      - run: cat .github/workflows/second.yml
